web3
gql
requests
python-dotenv
requests_toolbelt
asyncio
aiohttp
pymysql
flask
mysql-connector-python
flask-cors
networkx
matplotlib
qiskit
pennylane
networkx
numpy
qiskit-optimization
qiskit-algorithms
qiskit-aer
